extends ../../partials/_admin_template

block content
  include ../../partials/admin/header

  .container
    h2.mt-4 Car manufacture
    form(action="/admin/car-types/add-car-manufacture" method="POST" encType="multipart/form-data")
      .form-row.mt-2
        .form-group.col-md-6
          input#formGroupExampleInput.form-control(
            type='text'
            name='name'
            placeholder='Manufacture name'
            class=`${isNoName ? 'is-invalid' : ''}`
            value=name
          )
          if (isNoName)
            .text-danger Please enter the car manufacturer name

        .form-group.col-md-6.custom-file
          input#file.custom-file-input(
            type='file'
            name='manufactureLogo'
            class=`${inNotImage || isNoFile ? 'is-invalid' : ''}`
          )
          label.custom-file-label(for='file') Manufacture logo 
          if (isNoFile)
            .text-danger Please select the car manufacturer logo
          if (inNotImage)
            .text-danger Selected file should be .png or .jpg image
      button.btn.btn-primary(type="submit") Add car manufacture
    table.table.table-hover.mt-4
      thead
        tr
          th №
          th Title
          th Logo
          th Remove
      tbody
        each item, index in manufacturerList
          tr
            td.align-middle= index
            td.align-middle= item.title
            td.align-middle
              img(src=item.imgUrl width='100' height='50')
            td.align-middle
              form(method="POST" action="/admin/car-types/delete-car-manufacture")
                input(type="hidden" name="id" value=item._id)
                button.btn.btn-danger(type="submit") Delete
